html, body {
    font-family: 'Arial', sans-serif;
    background-color: #55679C;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

.navigation-bar {
    background-color: #1E2A5E;
    padding: 10px 0;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.navbar-brand {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1rem;
}

.nav-links li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* dropdown */

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #003366;
    padding: 10px 0;
    list-style: none;
    min-width: 200px;
    border-radius: 4px;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-menu li a {
    display: block;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: #0056b3;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-header {
    font-weight: bold;
    color: #ffffff;
    margin: 5px 0;
}

.dropdown-divider {
    border-color: #4d4dff;
}

/* content */

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #e6f2ff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px;
    width: 100%;
}

/* footer */

.footer {
    background-color: #1E2A5E;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}

/* text style */

.home-page {
    text-align: center;
    margin: 50px auto;
}

.welcome-title {
    font-size: 2.5em;
    color: #003366;
    font-weight: bold;
}

.welcome-description {
    font-size: 1.2em;
    margin: 20px 0;
    color: #444;
}

.sql-logo-container {
    margin: 30px auto;
}

.sql-logo {
    width: 200px;
    height: auto;
}

.section-title {
    font-size: 2em;
    margin-top: 40px;
    color: #003366;
}

.sql-description {
    font-size: 1.1em;
    margin: 20px 0;
    color: #444;
}

.sql-benefits {
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style: disc;
    list-style-position: inside;
}
